RESEND_API_KEY=re_xxxxxxxxx
CONTACT_TO_EMAIL=hello@arojohnson.com
CONTACT_FROM_EMAIL=Aro Johnson <onboarding@resend.dev>
CONTACT_ALLOWED_ORIGIN=https://arojohnson.com
RATE_LIMIT_WINDOW_MINUTES=15
RATE_LIMIT_MAX=5
MAX_CONTENT_LENGTH_BYTES=16384
